
table{
    border-collapse: collapse;
    margin: 20px;
}
td,th{
    border: 1px solid ;
    padding: 10px;
    background-color: #ade9d5;
}
button{
    background-color: #1d78ef;
    color: #fff;
    border-radius: 5px;
}