<h1>Patient Information</h1>
<div>
<button (click)="export()" class="expo">Export</button>
</div>
<table>
  <thead>
    <tr>
      <th>SI. No</th>
      <th>Patient Name</th>
      <th>Token No</th>
      <th>Reason</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Export</th>
      <th>Update</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tables; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.parent1 }}</td>
      <td>{{ item.parent2 }}</td>
      <td>{{ item.parent3 }}</td>
      <td>{{ item.parent4 }}</td>
      <td>{{ item.parent5 }}</td>
      <td>
        <input type="checkbox" (change)="updateExport($event, item)" />
      </td>
      <td>
        <button (click)="update(i) ; form()">Update</button>
      </td>
      <td>
        <button (click)="viewDetail(item)">View Detail</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isExport" >
<h1 >Records of Exported Data</h1>
<table >
    <thead>
      <tr>
        <th>SI. No</th>
        <th>Patient Name</th>
        <th>Token No</th>
        <th>Reason</th>
        <th>Gender</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of exportedItems ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.parent1 }}</td>
        <td>{{ item.parent2 }}</td>
        <td>{{ item.parent3 }}</td>
        <td>{{ item.parent4 }}</td>
        <td>{{ item.parent5 }}</td>  
      </tr>
    </tbody>
</table>
</div>