<h1>Employee Information</h1>
<table>
  <thead>
    <tr>
      <th>SI No</th>
      <th>Emp Name</th>
      <th>Profile</th>
      <th>Id. No</th>
      <th>Qualification</th>
      <th>Gender</th>
      <th>Experiance</th>
      <th>Update</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tables; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.parent1 }}</td>
      <td>
        <img *ngIf="item.image" [src]="item.image" alt="Image" >
      </td>
      <td>{{ item.parent2 }}</td>
      <td>{{ item.parent3 }}</td>
      <td>{{ item.parent4 }}</td>
      <td>{{ item.parent5 }}</td>
    
      <td>
        <button (click)="update(i) ; form()">Update</button>
      </td>
      <td>
        <button (click)="viewDetail(item)">View Detail</button>
      </td>
    </tr>
  </tbody>
</table>

