<!-- <h1>PLEASE PROVIDE THE FOLLOWING DETAILS</h1>>

<form [formGroup]="password">
<mat-form-field>
    <mat-label>Email Address</mat-label>
    <input matInput type="email" placeholder="user@email.com" formControlName="email">
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
    <span *ngIf="email?.errors?.['required']"> *Email is required</span>
    <span *ngIf="email?.errors?.['email']">*Enter valid Email</span>
  </div>
</form> -->